.header {
  background-color: #404040;
  min-height: 126px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 17px 0 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    color: #fff;
    margin-left: 55px;
    &_grey {
      color: #888888;
      font-size: 16px;
      margin-top: -5px;
    }
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__foto {

  }
}

@media (max-width: 576px) {
  .header {
    background-color: #404040;
    height: 126px;
    margin-bottom: 47px;
    &__text {
      color: #fff;
      font-size: 29px;
      &_grey {

      }
    }
    &__logo {

    }
    &__foto {
    }
  }
}
